/**
 * Colors
 */

 $light-gray: #ebf1f5;
 $medium-gray: #c7cfd0;
 $dark-gray: #5A5F76;
 $black: #292D3E;
 $white: #fff;
 
 $white-background: #f3f5f7;
 $grey-background: #f0f3f5;
 $details: #3B405B;
 
 $yellow: #f8be58;
 $orange: #fb6e49;
 $red: #f2466f;
 $green: #48e6ac;
 $turquoise: #48e6e0;
 $blue: #4DB2F9;
 
 $labelColor: #c2c2c2;
 
 
 /**
  * Fonts
  */
 $icon-font: test;
 $neueGRGrotesk: NeueGRGrotesk, Arial, 'sans-serif';
 $bentonSans: BentonSans, Roboto, Helvetica, 'sans-serif';
 $nexa: Nexa, Roboto, Helvetica, 'sans-serif';
 
 
 :export{
   light-gray: $light-gray;
   medium-gray: $medium-gray;
   dark-gray: $dark-gray;
   black: $black;
   white: $white;
   white-background: $white-background;
   grey-background: $grey-background;
   yellow: $yellow;
   orange: $orange;
   red: $red;
   green: $green;
   turquoise: $turquoise;
   blue: $blue;
   labelColor: $labelColor;
   neueGRGrotesk: $neueGRGrotesk;
   bentonSans: $bentonSans;
   nexa: $nexa;
 }
 